html, body {
  color: rgb(255,255,255) !important;
  background: #4ABDAC !important;
}

.ui.stackable.menu {
  font-family: 'Permanent Marker' !important;
  color: rgb(255,255,255) !important;
  font-size: 30px !important;
  background: #FC4A1A !important
  /* position: fixed;
  left: 350px;
  padding: 0;
  margin: 0; */
}

.item.item.1 {
  background: rgba(223, 220, 227, 1);
}

/* .menu {
  background: rgb(223,220,227);
  min-width: 7%;
  min-height: 50px;
  padding: 5px;
  display: inline-block;
  float: left;
} */

.navbar-title {
  font-family: 'Permanent Marker';
  color: rgb(255,255,255) !important;
  font-size: 50px !important;
  background: #FC4A1A !important;
  min-height: 74px;
  min-width: 76.9%;
  padding: 10px;
  display: inline-block;
  float: left;
}

.i.icons {
  margin: 5px !important;
  padding: 5px !important
}

/* Add space between Add New btn and cards collection */
.add.button.div {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* Add background color to div holding card btns */
.ui.three.buttons {
  background: rgba(247, 183, 51, 1) !important;
}

/* Change default Add New button color */
.ui.right.aligned.button,
.ui.button {
  font-family: 'Open Sans' !important;
  background: rgb(247, 183, 51) !important;
  color: rgba(255,255,255, 0.9) !important;
}

/* Change button background color on hover */
.ui.right.aligned.button:hover,
.ui.button:hover {
  background: rgb(255, 183, 51) !important;
}
