html, body {
  color: rgb(255,255,255) !important;
  background: #4ABDAC !important;
}

/* Fix later to auto-adjust by screen size */
.navbar {
  font-family: 'Permanent Marker' !important;
  color: rgb(255,255,255) !important;
  font-size: 30px !important;
  background: #FC4A1A !important
  position: fixed;
  left: 350px;
  padding: 0;
  margin: 0;
}

.navbar-img {
  background: rgb(223,220,227);
  min-width: 7%;
  min-height: 50px;
  padding: 5px;
  display: inline-block;
  float: left;
}

.navbar-title {
  font-family: 'Permanent Marker';
  color: rgb(255,255,255) !important;
  font-size: 50px !important;
  background: #FC4A1A !important;
  min-height: 74px;
  min-width: 76.9%;
  padding: 10px;
  display: inline-block;
  float: left;
}

.navbar-links {
  background: #FC4A1A !important;
  min-width: 10%;
  min-height: 73px;
  margin-top: 1px;
  margin-bottom: 0px;
  display: inline-block;
  float: right;
}
.nav-a-1 {
  color: rgb(255,255,255) !important;
  font-size: 10px;
}

.nav-a-2 {
  color: rgb(255,255,255) !important;
  font-size: 10px;
}

.nav-a-3 {
  color: rgb(255,255,255) !important;
  font-size: 10px;
}

/* Add space between Add New btn and cards collection */
.add.button.div {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* Change default Add New button color */
.ui.right.aligned.button {
  background: rgb(252,74,26) !important;
  color: rgba(255,255,255, 0.9) !important;
}

/* Change form input size from fluid to smaller */
