html, body {
  color: rgb(255,255,255) !important;
  background: #4ABDAC !important;
}

.ui.stackable.menu {
  font-family: 'Permanent Marker' !important;
  font-size: 9px;
  color: rgb(255,255,255) !important;
  background: #FC4A1A !important;
  margin-top: 0px !important;
}

/* Gray background for NavBar gif */
.img.div {
  background: rgba(223, 220, 227, 1) !important;
}

/* TV List title font and color */
.tv.list {
  font-family: 'Permanent Marker' !important;
  color: rgb(255,255,255) !important;
}

.navbar-title {
  font-family: 'Permanent Marker';
  color: rgb(255,255,255) !important;
  background: #FC4A1A !important;

}

/* Add space between Add New btn and cards collection */
.ui.icon.button.btn {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* Change default Add New button color */
.ui.right.aligned.button,
.ui.button {
  background: rgb(247, 183, 51) !important;
  color: rgba(255,255,255, 0.9) !important;
}

/* Add space between + btn and ProgramsContainer */
.add.btn.div {
  margin-bottom: 10px !important;
}

/* Add space between add comment btn and CommentsContainer */
.add.comment.div {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* Change button background color on hover */
.ui.right.aligned.button:hover,
.ui.button:hover {
  background: rgb(255, 183, 51) !important;
}

/* Footer background color */
.footer {
  font-size: 9px !important;
  border-radius: 0px !important
}

/* Add space between comment and comment form */
.comment {
  margin-bottom: 10px !important;
}

/* Add more space between Program card and CommentCard */
.ui.comments {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
